app = "brainfuck-interpreter"
primary_region = "iad"

[build]
  dockerfile = "Dockerfile"

[http_service]
  internal_port = 8080
  force_https = true
  auto_start_machines = true
  auto_stop_machines = "stop"
  min_machines_running = 0
  processes = ["app"]

  [[http_service.checks]]
    grace_period = "5s"
    interval = "15s"
    method = "get"
    timeout = "2s"
    path = "/healthz"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "256mb"
